.inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

body {
    margin: 20px;
    background-color: #021342;
    color: #fff;
    font-family: "Inter", sans-serif;
}

#catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

button {
    height: 2em;
    width: 200px;
    transition: 0.3s;
    border-color: ;
}

button:hover {
    background-color: #000;
    color: #fff;
    border: 3px double;
    border-image: linear-gradient(to right, #002792, #41B59D);
    border-image-slice: 1;
  border-radius: 1em;
}